*{
    margin: 0px;
    padding: 0px;
}
:root{
    --voilet-color : rgb(87, 1, 186);
    --red-color : rgb(179, 7, 7) ;
    --blue-color :  rgb(64, 0, 255);
    --light-grey-color : rgb(232, 232, 232);
}

.header{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.titlelogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.listItem{
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > li{
        list-style: none;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.3rem;
        }
    }
}
.listItem >li > a:hover{
    color: var(--voilet-color);
}

.title{
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.seeker{
    color: rgb(179, 7, 7);
}
.logopng{
    width: 4rem;
}
.profilepng , .profile{
    width: 4rem;
}

@media (max-width:600px){
    
    .header{
        width: 95vw;
    }

    .titlelogo{
        & > .title{
            & > h1{
                font-size: 1.5rem;
            }
        }
    }

    .logopng{
        width: 2rem;
    }
    .profilepng , .profile{
        width: 2rem;
    }
    
    .listItem{
         & > li{
            & > a{
                font-size: 1rem;
            }
         }
    }
}
.viewfeature{
    display: none;
}
.viewitems{
    display: none;
}

.clickfeature{
    
    display: none;
    width: 90vw;
    margin: auto;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

}
@media (max-width:400px){
    .feature{
        display: none;
    }
    .viewfeature{
        display: flex;
        margin: 0px 50px 0px 0px ;
    }
    
}

.InfoSection{
    padding: 50px;
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    text-align: center;
}

@media( max-width :400px ){
    .InfoSection{
        padding: 25px;
    }
}
.heading1{
    
    color: rgb(179, 7, 7);
    background-color: rgb(230, 230, 230);
    padding: 10px 30px ;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px black;
}
.heading21{
    font-size: 1.5rem;
}
.heading22{
    font-size: 1.5rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & > .diffColor{
        color: rgb(87, 1, 186);
    }
}

@media (max-width:400px){
    .heading21 , .heading22{
        font-size: 1rem;
    }
}



.webInfo{
    font-size: 1.3rem;
}
.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
   
}
.searchPng{
    width: 3rem;
    border: none;
    mix-blend-mode: multiply;
}
.input{
    width: 50%;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px black;
}
.roles{
    display: flex;
    margin: auto;
    max-width: 800px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
}

.role{
    display: none;
    background-color: white;
}

.role > button{
    padding: 10px;
    border-radius: 1rem;
    background-color: white;

    & > a{
        text-decoration: none;
        color: black;
    }

    & > a:hover{
        color: var(--red-color);
    }
}

.leftArrow ,.rightArrow{
    padding: 1px 10px;
    font-size: 2rem;
    background-color: white;
    border: none;
    cursor: pointer;
}   

.LatestJobs{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 50px 25px ;
    font-size: 1.5rem;
    gap: 15px;
    
}
.Latest{
    color: var(--voilet-color);
}

@media( max-width :650px ){
    .LatestJobs{
        font-size: 1rem;
    }
}
@media( max-width :450px ){
    .LatestJobs{
        font-size: 0.5rem;
        gap: 5px;
        margin: 25px 10px;
    }
}

.JobsInfo{
    width: 95vw;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "Job1 Job2 Job3 Job4"
    "Job5 Job6 Job7 Job8"
    ;
    gap: 10px;
    transition: all 2s ease-in-out 1s;
    cursor: pointer;


}
.JobsInfo :hover{
    transform: scale(1.02);
}
@media (max-width:1000px){

    .JobsInfo{
        grid-template-areas: 
        "Job1 Job2 Job3 "
        "Job4 Job5 Job6 "
        "Job7 Job8 ."
        ;
    }
}
@media (max-width:750px){

    .JobsInfo{
        grid-template-areas: 
        "Job1 Job2 "
        "Job3 Job4 "
        "Job5 Job6 "
        "Job7 Job8"
        ;
    }
}
@media (max-width:450px){

    .JobsInfo{
        grid-template-areas: 
        "Job1 "
        "Job2 "
        "Job3 "
        "Job4 "
        "Job5" 
        "Job6 "
        "Job7 "
        "Job8"
        ;
    }
}

.job{

    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 0.3rem;
    padding: 10px 5px 0px 5px ;
    box-shadow: 2px 2px 5px black;

    & > h2{
        font-size: 1.2rem;
    }
    & > P{
        font-size: 1rem;
    }

    & > .btnBox{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    & > .btnBox > button{
        font-size: 0.8rem;
        padding: 5px 10px ;
        background-color: white;
        border-radius: 1rem;
    }    
}
.positionBtn{
    color: var(--voilet-color);
}
.jobBtn{
    color: var(--red-color);
}
.lpaBtn{
    color: var(--blue-color);
}


/*  Advantages section style */
.feature-container{
    background-color: var(--light-grey-color);
}
.feature-content{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 25px;
    gap: 1rem;
}
.main-info{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}
.main-info h2{
    font-size: 2.2rem;
}
.main-disc{
    color: var(--gray);
}
.feature-grid{
    display: grid;
    grid-template-rows: repeat( 1 , 1fr);
    grid-template-columns: repeat( 2 , 1fr);
    column-gap: 2rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #3f83f8;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 0.6rem;
}
.icon-container img{
    height: 20px;
    width: 20px;
}
.feature-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    color: white;
}
.feature-title{
    font-size: 1.3rem;
    font-weight: bold;
}
.feature-card:nth-child(1){
    background-color: #9F44D3;
}
.feature-card:nth-child(2){
    background-color: #9F44D3;
}
.feature-card:nth-child(3){
    background-color :rgb(92, 92, 245);
}
.feature-card:nth-child(4){
    background-color: rgb(92, 92, 245);
}
.feature-card:nth-child(5){
    background-color: rgb(251, 65, 65);
}
.feature-card:nth-child(6){
    background-color: rgb(251, 65, 65);
}

@media screen and ( max-width:670px ){
    .feature-grid{
        column-gap: 0.5rem;
    }
    .feature-content{
        padding: 25px 5px;
    }
}
@media screen and ( max-width:550px ){
    .feature-grid{
        grid-template-rows: repeat( 6 , 1fr );
        grid-template-columns: repeat( 1 , 1fr);
        padding: 2px 2%;
    }
}